<div>
      <div class="insidecontainer">
     <ul class="list-inline">
       <li (click)="onClick(data.name)" *ngFor="let data of arr ;let i = index" ><a >{{data.name}}</a></li>
       <li (click)="onPlusClick(showSubmenu)"><a >+</a></li>
       
     </ul>
   </div>
   
   <ul class="dropdown-menu" *ngIf="showSubmenu">
     <li class="plusdropdownother" (click)="onClick(data.name)" *ngFor="let data of arr;let i=index">{{data.name}}</li>
   </ul>
   </div>