
.list-inline {
    padding-left: 0;
    list-style: none;
    margin-left: 5px;
    height: 5px;
}
ol, ul {
    margin-top: 0;
    margin-bottom: 10px;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.list-inline>li {
    display: inline-block;
    padding-right: 40px;
    padding-left: 51px;
    border: 1px solid black;
    cursor: pointer;
}

.insidecontainer{
    border: 1px solid black;
}

.dropdown-menu{
    margin-top: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    /* position: absolute; */
    top: 100%;
    left: 0;
    z-index: 1000;
    /* display: none; */
    float: left;
    min-width: 120px;
    padding: 5px 0;
    margin: -1px 397px 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.open>.dropdown-menu {
    display: block;
}

.plusdropdown{
    border: 1px solid black;
    margin-top: -6px;
}

.plusdropdownother{
    border: 1px solid black;
    cursor: pointer;
}
.view1{
    background-color: blue;
}